body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  max-width: 500px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  margin: 1rem 0;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* .profile-pic {
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
} */

.profile-pic:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(9, 1, 1, 0.3);
}